/.phpunit.cache
/node_modules
/apps/admin/public/build
/apps/admin/public/hot
/apps/admin/public/storage
/storage/*.key
/apps/admin/storage/pail
/vendor
.env
.DS_Store
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/tmp
**/caddy
