/.phpunit.cache
/storage/*.key
/vendor
.env
.DS_Store
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/tmp
**/caddy
